@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

.App {
  font-family: "Pretendard";
  background-color: #000000;
  color: #ffffff;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  padding: 24px 24px;
}